.footerLinks {
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 5%;
  margin-top: 8%;
  padding-bottom: 3%;
}

.link {
  font-size: 0.9rem;
  color: #c2c2c2;
  text-decoration: none;
  font-family: sans-serif;
  transition: all 0.1s ease-in;
}

.link:hover {
  color: #ffffff;
}

@media only screen and (min-width: 2000px) {
  .footerLinks {
    gap: 3rem;
  }

  .link {
    font-size: 1.5rem;
  }

}

@media only screen and (max-width: 768px) {
  .footerLinks {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-right: 5%;
    margin-top: 10%;
  }
  
}

@media only screen and (max-width: 425px) {
  .footerLinks {
    margin-top: 10%;
  }
  .link {
    font-size: 0.8rem;
  }
  }

