.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease-in-out;
}

.navMenu.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  padding: 1% 0;
}

.navContainer {
  display: flex;
  flex: 2;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-left: 7%;
}

.logo {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.leftContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  margin-left: 5%;
}

.link {
  font-size: 1rem;
  font-weight: bold;
  color: #c2c2c2;
  text-decoration: none;
  font-family: sans-serif;
  transition: all 0.1s ease-in;
}

.link:hover {
  color: #ffffff;
}

.rightContainer {
  display: flex;
  flex: 3;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  margin-right: 5%;
}

.backgroundSlides {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5% center;
}

.slide1 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1)
    ),
    url("/images/thelastofus.png");
}

.slide2 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1)
    ),
    url("/images/themandalorian.png");
}

.slide3 {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 1)
    ),
    url("/images/bb.png");
}

.infoWrapper {
  position: absolute;
  bottom: 20%;
  left: 3%;
  text-align: left;
}

.title {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.info {
  font-size: 1.3rem;
  margin-top: 0;
  margin-left: 1%;
  max-width: 60%;
}

.playButton {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 70px;
  height: 70px;
  padding: 2px 0 0 2px;
  cursor: pointer;
}

.playButton:hover {
  border: 2px solid #5d00ff;
}

.infoButton {
  margin-left: 30px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 15px;
  cursor: pointer;
}

.infoButton:hover {
  border: 2px solid #5d00ff;
}

@media only screen and (min-width: 2000px) {
  .nav {
    height: 100px;
  }

  .logo {
    font-size: 5rem;
  }

  .leftContainer {
    gap: 4rem;
  }

  .link {
    font-size: 2rem;
  }

  .rightContainer {
    gap: 4rem;
  }

  .title {
    font-size: 7rem;
  }

  .info {
    font-size: 2.3rem;
  }

  .playButton {
    font-size: 2rem;
    width: 100px;
    height: 100px;
  }

  .infoButton {
    margin-left: 50px;
    font-size: 2rem;
    padding: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    font-size: 2rem;
  }

  .leftContainer {
    gap: 2rem;
  }

  .link {
    font-size: 1rem;
  }

  .rightContainer {
    gap: 2rem;
  }

  .title {
    font-size: 3rem;
  }

  .info {
    font-size: 1rem;
  }

  .playButton {
    font-size: 1rem;
    width: 50px;
    height: 50px;
  }

  .infoButton {
    margin-left: 30px;
    font-size: 1rem;
    padding: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .logo {
    font-size: 2rem;
  }

  .leftContainer {
    gap: 2rem;
  }

  .link {
    font-size: 1rem;
  }

  .rightContainer {
    gap: 2rem;
  }

  .title {
    font-size: 3rem;
  }

  .info {
    font-size: 1rem;
  }

  .playButton {
    font-size: 1rem;
    width: 50px;
    height: 50px;
  }

  .infoButton {
    margin-left: 30px;
    font-size: 1rem;
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    height: 50px;
  }

  .navContainer {
    margin-left: 4%;
  }

  .logo {
    font-size: 2rem;
  }

  .leftContainer {
    gap: 1.8rem;
  }

  .link {
    font-size: 0.8rem;
  }

  .rightContainer {
    gap: 1.8rem;
  }

  .title {
    font-size: 3rem;
  }

  .info {
    font-size: 1rem;
  }

  .playButton {
    font-size: 1rem;
    width: 50px;
    height: 50px;
  }

  .infoButton {
    margin-left: 25px;
    font-size: 1rem;
    padding: 10px;
  }
  .slide1 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      ),
      url("/images/thelastofus.png");
    background-position: 45% center;
  }

  .slide2 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      ),
      url("/images/themandalorian.png");
    background-position: 15% center;
  }

  .slide3 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      ),
      url("/images/bb.png");
    background-position: 75% center;
  }
}

@media only screen and (max-width: 450px) {
  .nav {
    height: 50px;
  }

  .navContainer {
    margin-left: -2%;
  }

  .logo {
    font-size: 1.5rem;
  }

  .leftContainer {
    gap: 1rem;
  }

  .link {
    font-size: 0.7rem;
  }

  .rightContainer {
    gap: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .info {
    font-size: 0.7rem;
  }

  .playButton {
    font-size: 0.7rem;
    width: 40px;
    height: 40px;
  }

  .infoButton {
    margin-left: 20px;
    font-size: 0.7rem;
    padding: 10px;
  }
  .slide1 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      ),
      url("/images/thelastofus.png");
    background-position: 45% center;
  }

  .slide2 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      ),
      url("/images/themandalorian.png");
    background-position: 15% center;
  }

  .slide3 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      ),
      url("/images/bb.png");
    background-position: 85% center;
  }
}

@media only screen and (max-width: 375px) {
  .nav {
    height: 50px;
  }

  .navContainer {
    margin-left: -2%;
  }

  .logo {
    font-size: 1.2rem;
  }

  .leftContainer {
    gap: 1rem;
  }

  .link {
    font-size: 0.6rem;
  }

  .rightContainer {
    gap: 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .info {
    font-size: 0.7rem;
  }

  .playButton {
    font-size: 0.6rem;
    width: 40px;
    height: 40px;
  }

  .infoButton {
    margin-left: 20px;
    font-size: 0.6rem;
    padding: 10px;
  }

  .slide1 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      ),
      url("/images/thelastofus.png");
    background-position: 45% center;
  }

  .slide2 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      ),
      url("/images/themandalorian.png");
    background-position: 15% center;
  }

  .slide3 {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 1)
      ),
      url("/images/bb.png");
    background-position: 85% center;
  }
}
