.nav {
  padding: 1% 4%;
  width: 92%;
  border-bottom: 0.1px solid rgba(77, 77, 77, 0.7);
}

.logo {
  color: #eeeeee;
  font-size: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  text-align: left;
  width: 30%;
}

.title {
  font-size: 2rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

.text {
  line-height: 1.5rem;
  max-width: 90%;
}

.input {
  width: 85%;
  font-size: 1rem;
  padding: 4%;
  margin-bottom: 5%;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  background-color: #30333e;
  color: #eeeeee;
  transition: all 0.2s ease-in-out;
}

.input:focus {
  border: 1px solid #8b8b8b;
}

.button {
  width: 94%;
  border-radius: 5px;
  font-size: 1rem;
  padding: 4%;
  background-color: #0072d2;
  color: #eeeeee;
  border-color: transparent;
}

.linksContainer {
  margin: 7% 0;
}

.linksItem {
  color: #c2c2c2;
  margin-bottom: 3%;
  font-size: 1rem;
}

.link {
  margin: 0% 3%;
  color: #eeeeee;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  text-decoration: underline;
  color: #2ea1ff;
}

@media only screen and (min-width: 2000px) {
  .container {
    width: 40%;
  }

  .logo {
    font-size: 5rem;
  }

  .title {
    font-size: 4rem;
  }

  .text {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }

  .input {
    font-size: 2rem;
    padding: 4%;
    margin-bottom: 7%;
    border: 2px solid transparent;
  }

  .input:focus {
    border: 2px solid #8b8b8b;
  }

  .button {
    width: 94%;
    font-size: 2rem;
    padding: 4%;
  }

  .linksContainer {
    margin: 9% 0;
  }
  .linksItem {
    font-size: 2rem;
  }
}

@media only screen and (width <= 768px) {
  .container {
    width: 50%;
  }

  .logo {
    font-size: 2.5rem;
  }

  .title {
    font-size: 2rem;
  }
}

@media only screen and (width <= 426px) {
  .container {
    width: 80%;
  }
}
